<!DOCTYPE html>
<html lang="en">
<head>
  <title>MY GARMENTS SHOP with variety of dresses </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<body style=background-image:url("/media/bg.png")>

<img src='media/logo.jpg'width=70% height=400 alt='garments shop banner'>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">mygarments.com</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="aboutus">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">CONTACT US</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        BRANDED SHIRTS
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="formal_shirts">Formal shirts</a>
        <a class="dropdown-item" href="causual_shirts">Causual shirts</a>
        <a class="dropdown-item" href="t_shirts">T-shirts</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        BOTTOM WEAR
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="trouser">Trousers</a>
        <a class="dropdown-item" href="jean">Jeans</a>
        <a class="dropdown-item" href="track_pant">Trackpants</a>
      </div>
    </li>  
  </ul> 
</nav>
<br>

{% block content %}
{% endblock %}

</html>
</body>